<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <h2>Choose dates mate</h2>
  <label for="start">Start date:</label>
  <input type="date" id="start" name="start-date" value="">
  
  <label for="end">End date:</label>
  <input type="date" id="end" name="end-date" value="">
  <canvas id="myLineChart" width="300" height="100"></canvas>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>